@charset "UTF-8";

/*
 * 默认配色
 * primary #4cd964
 * accent #5ac8fa
 * accent #ff2d55
 * background #fff
 * text #222
 */

* {
    border-radius: 0;
    box-sizing: border-box;
    font-weight: normal;
    margin: 0;
    outline: none;
    padding: 0;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #F9F9F9;
    color: #222;
    cursor: default;
    display: flex;
    flex-direction: column;
    font: normal 14px/1 -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    justify-content: center;
    margin: 5em auto;
    max-width: calc(100% - 2em);
    min-height: calc(100vh - 8em);
    /* text-transform: lowercase; */
    width: 30em;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    color: #222;
    text-decoration: none;
    transition: 200ms;
}

a:hover {
    color: #03A9F4;
}

a:active {
    color: #00BCD4;
}

code {
    font-family: 'Consolas', monospace;
}

h1, h2, h3 {
    font-weight: 500;
    text-align: center;
}

h2 {
    color: #222;
    font-size: 1.5em;
    margin-bottom: 2em;
    position: relative;
}

h2::before {
    content: '';
    height: 1px;
    position: absolute;
    width: 100%;
}

h3 {
    color: #03A9F4;
    font-size: 1.25em;
    margin: 2em 0;
}

img {
    border: none;
    max-width: 100%;
    vertical-align: top;
}

p {
    margin: 2em 0;
    text-align: center;
}

pre {
    background: #f6f7f8;
    display: block;
    line-height: 1.4;
    padding: 1em;
    user-select: text;
    width: 100%;
}

table {
    background: #f6f7f8;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 2em 0;
    width: 100%;
}

thead tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.025);
}

thead th {
    color: #ff2d55;
    font-weight: 500;
}

tbody tr:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.025);
}

tbody td {
    line-height: 1.4;
}

th, td {
    padding: 1em;
    text-align: left;
    vertical-align: top;
}

/* layout */

header, h1 {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
}

header h1::before {
    content: '';
    background: url('../favicon.ico') center no-repeat;
    background-size: 2em;
    height: 2em;
    margin-bottom: 1em;
    width: 2em;
}

header p {
    color: gray;
    margin-top: 1em;
}

main {
    margin: 4em 0;
    opacity: 0;
    /* background: #fff; */
    transition: opacity 1s;
}

main section:not(:first-child) {
    margin-top: 4em;
}

footer {
    color: #555;
    font-size: 0.9em;
    line-height: 1.5em;
    text-align: center;
}

footer img {
    height: 1.5em;
}

/* components */

.loading {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2em;
    text-align: center;
}

.loading::before {
    animation: spinner 1s infinite linear;
    content: '';
    border: 2px solid transparent;
    border-top-color: #5ac8fa;
    border-right-color: #5ac8fa;
    border-radius: 1em;
    height: 1.5em;
    margin-right: 1em;
    width: 1.5em;
}

/* 滚动条 */

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 0;
}
::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 0;
}

/* 工具面板 */

.tool-panel {
    visibility: hidden;
    z-index: 100;
    position: fixed;
    left: 0;
    bottom: 0;
}

.tool-panel-bar {
    height: 32px;
}

.tool-panel-newtab, .tool-panel-close {
    position: absolute;
    top: 0;
    height: 32px;
    width: 64px;
    box-shadow: -2px 0 10px 0 rgba(0, 0, 0, 0.1);
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #FFF;
}

.tool-panel-blank {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tool-panel-newtab {
    right: 72px;
    background-color: #2196F3;
}

.tool-panel-close {
    right: 8px;
    background-color: #F44336;
}

.tool-panel-iframe {
}

.tool-panel-iframe iframe {
    height: calc(100vh - 32px);
    width: 100vw;
}

/* 链接的图标 */

/*
main section li img {
    height: 28px;
    position: absolute;
    transform: translate(10px, 10px);
}

main section li a:not(.back) {
    padding-left: 45px !important;
}
*/

/* 全屏文字 */

.fullscreen-text {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 5vw;
    transform: translate(-50%, -50%);
    transition: opacity 1s;
}

/* 搜索面板 */

.search-panel {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
}
.search-bar{
    text-align: center;
}
.search-bar .search-input {
    margin: 20px 5px 0 0;
    padding: 0 15px;
    width: 60%;
    height: 50px;
    border: solid 2px #03A9F4;
    box-shadow: 0 0 5px rgba(3, 169, 244, 0.1);
    font-size: 20px;
    transition: border 0.2s;
}
.search-bar .search-input:hover {
    border: solid 2px #00BCD4;
}
.search-bar .search-submit, .search-bar .search-cancel {
    width: 75px;
    height: 50px;
    border: none;
    background-color: #03A9F4;
    box-shadow: 0 5px 10px -5px rgba(3, 169, 244, 0.4);
    font-size: 20px;
    color: #FFF;
    transition: background 0.2s;
}
.search-bar .search-submit:hover, .search-bar .search-cancel:hover {
    background-color: #00BCD4;
}
.search-bar .search-submit {
    margin-right: 5px;
}
.search-result {
    margin-top: 10px;
    padding: 0 16px;
    height: calc(100% - 100px);
    overflow-y: scroll;
}
.search-result a {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}
@media screen and (max-width: 500px) {
    .search-panel {
        /* top: 32%; */
        height: 300px;
        width: 100%;
    }
    .search-bar .search-input {
        margin: 15px 5px 0 0;
        padding: 0 10px;
        width: 55%;
        height: 40px;
        font-size: 16px;
    }
    .search-bar .search-submit, .search-bar .search-cancel {
        width: 16%;
        height: 40px;
        font-size: 16px;
    }
    .search-result {
        padding: 0 5%;
        height: calc(100% - 80px);
    }
    .search-result a {
        margin-bottom: 8px;
        font-size: 16px;
    }
}

/* 悬浮栏 */

.floating-bar {
    z-index: 50;
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    opacity: 0.9;
    text-align: center;
    animation: FloatingBarSlide 1s ease-out 1;
}
.floating-bar-search, .floating-bar-tool, .floating-bar-about, .floating-bar-totop {
    display: inline-block;
    width: 45px;
    height: 30px;
    background-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
}
.floating-bar-tool, .floating-bar-about, .floating-bar-totop {
    margin-left: 5px;
}

/* 选中 */

::selection {
    background:#03A9F4;
    color:#FFF;
}
::-moz-selection {
    background:#03A9F4;
    color:#FFF;
}
::-webkit-selection {
    background:#03A9F4;
    color:#FFF;
}

/* 动画 */

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes FloatingBarSlide {
    from {
        bottom: -50px;
    }
}
