@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    padding: 20px 0 50px 0;
    background-color: #999;
    scroll-behavior: smooth;
}

/* 背景 */

.page-background {
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-image: url(../img/Unsplash_V6TWE6h8gyg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-background:after {
    content: "";
    z-index: -90;
    position: inherit;
    top: inherit;
    left: inherit;
    width: inherit;
    height: inherit;
    background: inherit;
    filter: blur(4px);
}

/* 滚动条 */

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #CCC;
    border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #03A9F4;
}
::-webkit-scrollbar-track {
    background-color: #FFF;
    border-radius: 0;
}

/* 选中 */

::selection {
    background:#03A9F4;
    color:#FFF;
}
::-moz-selection {
    background:#03A9F4;
    color:#FFF;
}
::-webkit-selection {
    background:#03A9F4;
    color:#FFF;
}

/* 主要 */

.main {
    margin: 0 auto;
    width: 90%;
    max-width: 450px;
}
.main > div {
    margin: 20px 0;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.main > div header {
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    user-select: none;
}
.main > div input:focus {
    outline: none;
}
.main > div textarea {
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #03A9F4;
    box-shadow: 0 0 5px rgba(3, 169, 244, 0.2);
    font-size: 14px;
}
.main > div textarea:focus {
    outline: none;
}
.tool-button {
    display: inline-block;
    user-select: none;
    padding: 5px 10px;
    background-color: #03A9F4;
    text-align: center;
    font-size: 14px;
    color: #FFF;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(3, 169, 244, 0.4);
    transition: background 0.2s;
}
.tool-button:hover {
    background-color: #2196F3;
}

/* 索引 */

.tool-nav ul li {
    display: inline-block;
    list-style: none;
}
.tool-nav ul li a {
    display: block;
    float: left;
    padding: 5px 9px;
    border-radius: 5px;
    background-color: #4CAF50;
    text-decoration: none;
    font-size: 14px;
    color: #FFF;
    transition: background 0.2s;
}
.tool-nav ul li a:hover {
    background-color: #8BC34A;
}
.tool-nav-link {
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
}

/* Unix 时间戳转换 */
#tool-unixtime > div {
    user-select: none;
}
#tool-unixtime > div > span {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
}
#tool-unixtime > p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
#tool-unixtime input[type="text"] {
    width: 160px;
    border: 1px solid #03A9F4;
    font-size: 14px;
}
#tool-unixtime label {
    font-size: 14px;
}
#tool-unixtime .tool-button {
    margin: 5px 5px 2px 0;
}

/* 计算下载用时 */
#tool-downloadtime {
    
}
#tool-downloadtime-input {
    padding: 0 0 10px 0;
    border-bottom: 1px solid #EEE;
}
#tool-downloadtime-output {
    padding: 10px 0;
    border-bottom: 1px solid #EEE;
}
#tool-downloadtime .tool-button {
    margin: 10px 5px 10px 0;
}
#tool-downloadtime-help {
    padding: 10px 0 0 0;
    border-top: 1px solid #EEE;
    font-size: 14px;
}

/* 简易计算 */

#tool-calculate textarea {
    resize: vertical;
    font-size: 16px;
}
#tool-calculate-tofixed {
    width: 20px;
    font-size: 14px;
}
#tool-calculate .tool-button {
    margin: 5px 5px 2px 0;
}

/* 生成批量下载链接 */

#tool-genlink hr {
    height: 0;
    border: 0.5px solid #EEE;
}
#tool-genlink-link input {
    margin-bottom: 10px;
    padding: 0 2px;
    height: 20px;
    width: 80%;
    border: 1px solid #03A9F4;
}
#tool-genlink-settings {
    user-select: none;
    font-size: 14px;
}
#tool-genlink-settings > div {
    margin: 5px 0;
}
#tool-genlink-settings input[type="text"] {
    width: 25px;
    font-size: 14px;
}
#tool-genlink .tool-button {
    margin: 10px 5px 10px 0;
}
#tool-genlink textarea {
    resize: vertical;
    font-size: 14px;
}

/* 运行 JavaScript */

#tool-runjs textarea {
    resize: vertical;
    font-family: monospace;
    font-size: 14px;
}
#tool-runjs .tool-button {
    margin: 5px 5px 0 0;
}

/* 返回顶部 */

.to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #FFF;
    text-align: center;
    line-height: 50px;
    font-family: monospace;
    font-size: 20px;
    color: #2196F3;
    user-select: none;
    transition: all 0.5s;
}
.to-top:hover {
    animation: ToTopAnimation 0.5s ease-in-out;
}

/* 动画 */

@keyframes ToTopAnimation {
    0% {
    }
    50% {
        right: 25px;
        bottom: 25px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 20px;
        color: #FFF;
    }
    100% {
        color: #2196F3;
        transform: rotate(360deg);
    }
}
